@media (min-width: 1500px) {
	.container, .container-lg, .container-md, .co-ntainersm, .container-xl {
	    max-width: 1440px;
	}
}

@media (min-width: 1800px) {
	.container, .container-lg, .container-md, .co-ntainersm, .container-xl {
	    max-width: 1720px;
	}
}

@media (min-width: 2200px) {
	.container, .container-lg, .container-md, .co-ntainersm, .container-xl {
	    max-width: 2020px;
	}
}

@media (min-width: 3200px) {
	.container, .container-lg, .container-md, .co-ntainersm, .container-xl {
	    max-width: 3020px;
	}
}

@media (max-width: 767px) {
	#nav-list .nav-link:hover {
		color: white;
		opacity: 1;
		transform: translateX(10px);
	}

	.hero {
		text-align: center;
		color: white;
		margin-top: 10em;
	}

	.display-4 {
		font-size: 3rem;
	}

	.site-section {
		padding: 2.5em;
	}

	.breadcrumb {
		justify-content: center;
		font-size: 1.3rem;
		padding: 0;
	}	
}

@media (max-width: 575px) {
	#delicious .single_delicious {
		display: block!important;
	}

	.single_delicious .info {
		padding-left: 0;
		padding-top: 0.5em;
	}
}